.flex-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(96, 79, 252, 0.082), white);
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
}

.board:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}

.title {
  display: flex;
  justify-content: center;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
}

.blackButton {
  background-color: black;
  color: white;
}

.blackButton:hover {
  background-color: white;
  color: black;
}

.grayButton {
  background-color: gray;
  color: white;
}

.grayButton:hover {
  background-color: gray;
  color: black;
}

.randomButton {
  background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);  
}

.randomButton:hover {
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}

.eraserButton {
  background-color: white;
  color: rgb(0, 0, 0);
}

.eraserButton:hover {
  background-color: black;
  color: white;
}

input {
  width: 50px;
}

.mode {
  margin-bottom: 5px;
}

.error{
  display: flex;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid #333;
  display: none;
  z-index: 999;
}

.popup input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.popup button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

